@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-neutral-100: hsl(210, 17%, 98%);
  --color-neutral-200: hsl(210, 16%, 88%);
  --color-neutral-800: hsl(225, 6%, 23%);
  --color-neutral-900: hsl(225, 6%, 13%);
  --color-selection: hsl(323, 80%, 43%);
}

body {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-100);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 1rem 1rem 0;
}

.header .heading {
  width: fit-content;
  font-size: min(12vw, 3rem);
  font-weight: bold;
  font-family: 'Black Ops One', sans-serif;
  line-height: 1;
  padding-left: clamp(0rem, 1vw, 0.8rem);
  background-color: var(--color-neutral-100);
  background-image: linear-gradient(
    to right,
    hsl(256, 100%, 51%),
    hsl(340, 100%, 50%)
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

:not(.header .heading)::selection {
  background-color: var(--color-selection);
  color: var(--color-neutral-100);
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--color-neutral-200);
}

@media (min-width: 43.25rem) {
  .card-container {
    justify-content: start;
  }
}
