*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: hsl(225, 6%, 13%);
  color: hsl(210, 17%, 98%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

h1 {
  width: fit-content;
  font-size: min(12vw, 3rem);
  font-weight: 900;
  background-color: hsl(210, 17%, 98%);
  background-image: linear-gradient(
    45deg,
    hsl(256, 100%, 51%),
    hsl(340, 100%, 50%)
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

:not(h1)::selection {
  background-color: hsl(323, 80%, 43%);
  color: hsl(210, 17%, 98%);
}

.item {
  border: 0.125rem dashed hsl(210, 17%, 98%);
  padding: 0.5rem 1rem 1rem;
}

.item h2 {
  margin-bottom: 0.5rem;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 85%);
}
