.btn {
  --btn-primary-100: hsl(167, 92%, 32%);
  --btn-primary-200: hsl(167, 92%, 27%);
  --btn-secondary-100: hsl(332, 83%, 42%);
  --btn-secondary-200: hsl(332, 83%, 37%);

  background-color: var(--btn-color-100, dodgerblue);
  color: var(--color-neutral-100);
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline-color: transparent;
  outline-offset: 0.0625rem;
  appearance: none;
  transition: background-color 180ms ease-in-out, outline-color 80ms ease-in-out,
    transform 80ms ease-in-out;
}

.btn.btn--primary {
  --btn-color-100: var(--btn-primary-100);
  --btn-color-200: var(--btn-primary-200);
}

.btn.btn--secondary {
  --btn-color-100: var(--btn-secondary-100);
  --btn-color-200: var(--btn-secondary-200);
}

.btn:hover {
  background-color: var(--btn-color-200, royalblue);
  transform: scale(1.03);
}

.btn:active {
  transform: scale(1);
}

.btn:focus-visible {
  outline: 0.125rem solid var(--btn-color-200, royalblue);
}
