.expanding-list,
.expanding-list ul {
  list-style-type: '🛸';
  font-size: 1.2rem;
  font-weight: 500;
}

.expandable {
  list-style-type: '👇🏻';
  cursor: pointer;
}

.expandable.closed {
  list-style-type: '👉🏻';
}

.expandable ul {
  cursor: initial;
}

.expandable.closed ul {
  display: none;
}
